{% extends 'layout.html' %}

{% set title = 'Admin' %}

{% block css %}
{% endblock %}

{% block body %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Payment History</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="btn-group pull-right navbar-btn">
          <a class="btn btn-default btn-md" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Transactions for {{ description }}</h4>
          <div class="btn-group pull-right">
            <!--a href="{{ url_for('transactions') }}" class="btn btn-default btn-sm">Back to Plan</a-->
          </div>
        </div>
        <div class="panel-body">
        <ul class="list-group">
          {% for transaction in transactions %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-3 col-md-3 text-center">
              </div>
              <div class="col-lg-7 col-md-7 section-box">
                <p><b>Payer Name: </b>{{ transaction.payer_name }}</p>
                <!--p><b>Payer Email: </b>{{ transaction.payer_email }}</p-->
                <p><b>Status: </b>{{ transaction.status }}</p>
                <p><b>Time stamp: </b>{{ transaction.time_stamp }}</p>
              </div>
              <div class="col-lg-2 col-md-2">
                <span class="label label-info">{{ transaction.transaction_type }}</span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}
