{% extends 'layout.html' %}

{% set title = 'Home' %}

{% block css %}
{% endblock %}

{% block body %}
	<form class="form-signin" role="form">
        <h2 class="form-signin-heading">Hipster Magazine Sign In</h2>
        <input type="email" class="form-control" placeholder="Email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
{% endblock %}

{% block js %}
{% endblock %}
